{% extends "base.html.jinja" %}
{% block title %}
Pobieranie opinii o produkcie
{% endblock title %}
{% block content %}
<div class="col">
    <form method="POST" action="{{url_for('extract')}}">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="product_code" class="col-form-label">Kod produktu</label>
            </div>
            <div class="col-auto">
                <input type="text" required id="product_code" name="product_code" placeholder="Wpisz kod produktu"
                    class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-secondary" value="Pobierz">
            </div>
        </div>
    </form>
</div>
{% endblock content %}
            