{% extends "base.html.jinja" %}
{% block title %}
Opis projektu
{% endblock title %}
{% block content %}
<div class="card col">
    <div class="card-header">
        Cel aplikacji
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card col">
    <div class="card-header">
        Opis działania aplikacji
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card col">
    <div class="card-header">
        Zastosowane bibioteki
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card col">
    <div class="card-header">
        Zastosowane podejścia
    </div>
    <div class="card-body">

    </div>
</div>
{% endblock content %}
    