{% extends "base.html.jinja" %}
{% block title %}
{{product_code}}
{% endblock title %}
{% block content %}
<div class="col">
{{opinions|safe}}
</div>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function () {
        $('#opinions').DataTable();
    });
</script>
{% endblock scripts %}